In [58]:
import pandas as pd
colnames = ['userId', 'valueIdx', 'value', 'tStamp']
df = pd.read_csv('../users_budget.csv', sep=',', header=None, names = colnames)
lastBudgetSeries = df.loc[df.loc[(df['userId']=='Ud23427619a8d0de9734e993431a4fab3')]['tStamp'].idxmax()]
lastBudgetSeries

userId      Ud23427619a8d0de9734e993431a4fab3
valueIdx                               budget
value                                  100001
tStamp                          1571395815844
Name: 2, dtype: object

In [60]:
colnames = ['userId', 'valueIdx', 'value', 'tStamp']
df = pd.read_csv('../users_partner.csv', sep=',', header=None, names = colnames)
df

                                      userId         valueIdx  value  tStamp
0  Ue0aab3ac91118f838d3991dbb0fd001a:partner  2-1571395770771    NaN     NaN
1  U1194a948587fe16ef5f7f7a2741f6764:partner  2-1571395806182    NaN     NaN
2  Ud23427619a8d0de9734e993431a4fab3:partner  2-1571395824204    NaN     NaN

3

userId      Ud23427619a8d0de9734e993431a4fab3
valueIdx                               budget
value                                   20000
tStamp                          1571392583999
Name: 3, dtype: object